@{
    ViewData["Title"] = "Users";
}
@model IEnumerable<ContractMonthlyClaimSystem.Models.Registered>
<div class="table-container">
    <h3>User</h3>
    <script src="js\site.js"></script>
<!--registered user details-->
 <table class="table">
                    <thead>
                        <tr>
                            <th>RegID</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Role</th>
                        </tr>
                    </thead>
           <tbody>
                       
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.RFormattedRegId</td>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.Contact</td>
                    <td>@user.Address</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                    <td>@user.Role</td>
            </tr>
        }
    </tbody>
</table>
</div>
